<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-12" id="head">
            <h1> AMAZING ON-TREND SAREES</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" id="body">
        <div class="col-sm-3">
            <img src="./assets/ox.jpg" width="300px" height="550px">

        </div>
        <div class="col-sm-6">
            <h1 id="he">ELEGANT LOOK OF SAREES</h1>
            <h3>Saris are often passed down from one generation to the next, as part of a wedding trousseau or given as gifts for milestone moments.The elegant drape in prints and weaves,this collection of saress is the perfect classic look for any occasion.


                <br> <br>Sarees are among the most beautiful Indian ethnic wear attires for women. They are an embodiment of grace, beauty, and dignity. That's why they have been an integral part of Indian culture since the beginning of civilizations</h3>

        </div>
        <div class="col-sm-3">
            <img src="./assets/s1.jpg" width="300px" height="550px">

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>LET'S TAKE A LOOK AT FEW OF MY BEST SAREE COLLECTIONS</h2>
        </div>

    </div>
    <div class="row" >
        <div class="col-sm-4">
            <img src="./assets/s2.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/s3.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/s4.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" >
        <div class="col-sm-4">
            <img src="./assets/s5.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/s6.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/s7.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" >
        <div class="col-sm-4">
            <img src="./assets/s8.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/s9.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/s10.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" >
        <div class="col-sm-4">
            <img src="./assets/s11.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/s12.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/s13.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div>
</div>

