#head{
    background-color: rgb(133, 25, 83);
    color: snow;
    font-family: 'Courier New', Courier, monospace;
    width: 1600px;
    
}
#body{
    background-color: rgba(133, 27, 103, 0.721);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

}
#he{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}
