<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            
            <div class="content">
                <div class="con">
                    <h1>HOUSE OF TANISHA BROWN'S</h1>
                    <H4>PARADISE FOUND!!</H4>

                </div>
                
              </div>
        </div>

    </div>
    <div class="row" id="mid">
        <div class="col-sm-3">
            <img src="./assets/gan.jpg" height="400px" width="350px">

        </div>
        <div class="col-sm-6"  id="let">
            
            <h2 id="he" class="jumbotron text-center">WELCOME TO THE WORLD OF HERITAGE LUXURY</h2><br>
            <h4>At Tanisha Brown's,we design elegant,effortless,pieces that suit every occasion <br>Fashion is instant language.Fashion should be a form of escapism, and not a form of imprisonment.<br>For our modern,global muse,we create timeless fashion,rooted in consious luxury,and contemproray interpretations of craft.</h4>

        </div>
        <div class="col-sm-3">
            <img src="./assets/ang.jpg" height="400px" width="350px">
            
        </div>

    </div>
    <div class="row" id="my">
        <div class="col-sm-9" >
            <h1 class="jumbotron text-center" id="st">ABOUT TANISHA </h1><br>
    
           <h5 id="pp">
            Tanisha Brown always knew she wanted to found and run her own fashion house. Born and raised in Bombay, she spent her summers with family in Jaipur, which influenced her aesthetic and understanding of craft and artisanship. After she earned her degree in fashion design, Tanisha founded House of Tanisha Brown's in 2010 with two sewing machines, and the support of her family.<br><br><br>

           Over the decades, her contemporary sensibility, deep understanding of the Indian customer and affinity for indigenous crafts have shaped the Tanisha Brown aesthetic into a unique and much-loved one. Her designs are now synonymous with modern, global Indian chic, with a signature blend of lightness, practicality and femininity.<br><br><br>

          A vegan who is deeply committed to sustainability, animal welfare and women empowerment, Tanisha gives her time and energy to promoting awareness about the issues she believes in.

          </h5>
        </div>
        <div class="col-sm-3">
            <img src="./assets/tani.jpg" height="500px" width="350px">
        </div>
    </div>
    <div class="row" id="hey">
        <div class="col-sm-3">
            <img src="./assets/off.jpg" height="500px" width="350px">
        </div>
        <div class="col-sm-9" >
            <h1 class="jumbotron text-center" id="st">ABOUT the BRAND</h1><br>
            <h1 class="jumbotron text-center" id="st">HOUSE OF TANISHA BROWN</h1><br>
    
           <h5 id="pp">
            Founded in 2010 by Tanisha Brown, House of Tanisha Brown's Limited is one of India's leading fashion houses. With a workforce of more than 2800 associates, it is the first fashion house of the country in which a leading private Equity firm-General Atlantic has made an investment. <br><br>Over the years, HOAD has grown from strength to strength - embracing change, redefining fashion, setting trends and making a difference to people, animals and the planet.<br><br>
            Tanisha Brown believes that fashion plays a defining role in enhancing a person's confidence and sense of self. We seek to create luxurious designs that leave unforgettable impressions on the world, and are yet versatile enough to transcend people, places and occasions.<br><br>

            We pay homage to the supreme craftsmanship of India by creating exquisite ensembles and handcrafted jewellery, oftentimes designing collections with the sole aim of uplifting our artisans. House of Tanisha Brown's stands for a simple, unembellished thought—to create beautiful tomorrows for the planet and its people.

          </h5>
          
        </div>
       
    </div>

</div>

