<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-12" id="head">
            <h1> STYLISH LEHENGAS</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" id="body">
        <div class="col-sm-3">
            <img src="./assets/grey.jpg" width="300px" height="550px">

        </div>
        <div class="col-sm-6">
            <h1 id="he">ADMIRATION FOR THE LEHENGAS</h1>
            <h3>  
                Lehenga history begins with the Mughal era, which is when this garment was first worn by women. 
                It flourished during that period, quickly becoming the most commonly worn garment not just amongst the rich, upper-class women and royals, but also amongst the masses.<br><br>
                Ghagra choli, (also known as lehenga choli and locally as chaniya choli), is a type of ethnic clothing for women from Indian Subcontinent, notably in the Indian states of Rajasthan, Gujarat, Madhya Pradesh, Uttar Pradesh, Bihar, Haryana, Punjab, Himachal Pradesh, Uttarakhand, Jammu and Kashmir<br>
                
            </h3>

        </div>
        <div class="col-sm-3">
            <img src="./assets/l1.jpg" width="300px" height="550px">

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>LET'S TAKE A LOOK AT FEW OF MY BEST LEHENGA COLLECTIONS</h2>
        </div>

    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/l2.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/l3.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/l4.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/l5.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/l6.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/l7.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/l8.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/l9.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/l10.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/l11.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/l12.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/l13.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div>
</div>

