<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-12" id="head">
            <h1> BEAUTIFUL  SALWAR SUITS</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" id="body">
        <div class="col-sm-3">
            <img src="./assets/punjabi.jpg" width="300px" height="550px">

        </div>
        <div class="col-sm-6">
            <h1 id="he">THE ELEGANCE OF SUITS</h1>
            <h3>  
                It's the most casual, ready-to-go and always-trendy apparel you'll ever have. But do you know there are over 20 styles of a salwar suit alone.<br>
                 The history of salwar kameez as a garment is quite rich.<br><br>
                The salwar is also known as churidar and is paired with the Kameez. It is worn by women across India and is a famous traditional dress. Kameez is varied from being ankle-length Anarkali suits to short Kurtis. 
            </h3>

        </div>
        <div class="col-sm-3">
            <img src="./assets/c1.jpg" width="300px" height="550px">

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>LET'S TAKE A LOOK AT FEW OF MY BEST SALWAR SUIT COLLECTIONS</h2>
        </div>

    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/c2.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/c3.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/c4.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/c5.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/c6.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/c7.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/c8.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/c9.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/c10.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/c11.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/sha.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/gan.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div>
</div>


