<div class="container-fluid" id="page">
    <div class="row" id="head">
        <div class="col-sm-5">
          <h1 >
            <img src="./assets/logo.png" height="120px" width="110px">
            <span id="ti">T</span><span id="it">ANISHA  </span>   <span id="ti">B</span><span id="it">ROWN'S</span>
          </h1>
          
            

        </div>
        <div class="col-sm-7">
          <app-nav></app-nav>
        </div>
        

    </div>
    


  <div class="row">
    <div class="col-sm-12" id="mar">
      <marquee >Welcome to Tanisha Brown's we are providing great deals and offers on your WEDDING ORDERS!!!!!!!And yeahhh we are providing assistance for young talented fashion designer's click on the  REGISTRATION and fill the form send your Resume to our mail-id attached to work under the guidance of TANISHA!!!!!!</marquee>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-12" id="main">
      <router-outlet></router-outlet>
      

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12">
      <app-orders></app-orders>
    </div>
  </div>


  

</div>