<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-12" id="head">
            <h1>ELEGANT DESIGNER BLOUSES</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" id="body">
        <div class="col-sm-3">
            <img src="./assets/blo.jpg" width="300px" height="550px">

        </div>
        <div class="col-sm-6">
            <h1 id="he">THE PERK OF THE BLOUSE</h1>
            <h3>No matter how antiquated this particular attire is; it hasn’t ever gone out of fashion and still holds an important place in the fashion scenario. These days, interestingly, the latest fashion among Indian women is a saree teamed with a designer blouse.<br>

                The beauty of a saree is enhanced and becomes more prominent when it’s paired with a beautifully designed blouse piece. This is the only reason equal importance is now given to the design of a blouse as much as it is given to the saree design.<br>No matter how the saree is, plain simple or extravagant; a good blouse makes or breaks the look.  </h3>

        </div>
        <div class="col-sm-3">
            <img src="./assets/l.jpg" width="300px" height="550px">

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>LET'S TAKE A LOOK AT FEW OF MY BEST WEDDING COLLECTIONS</h2>
        </div>

    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/b1.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/b4.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/b3.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/b5.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/b6.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/b7.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/b2.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/b12.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/b8.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/b9.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/b13.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/b11.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div>
</div>

