<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" class="jumbotron text-center" id="heading">
            <h1>STYLISH LEHENGAS</h1>
        </div>
    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/leh.jpg" width="500px" height="600px"><br>
            <h4>STYLISH RED LEHENGA KURTA</h4>


        </div>
        <div class="col-sm-4">
            <img src="./assets/lil.jpg" width="500px" height="600px">
            <br><h4>BEAUTIFUL LILAC LEHENGA CHOLI</h4>

        </div>
        <div class="col-sm-4">
            <img src="./assets/yel.jpg"  width="500px" height="600px"><br>
            <h4>ELEGANT YELLOW LEHENGA</h4>

        </div>
    </div>
    <div class="row" >
        <div class="col-sm-12" class="jumbotron text-center" id="heading">
            <h1>ON TREND SAREES</h1>
        </div>
    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/ox.jpg" width="500px" height="600px"><br>
            <h4>OXBLOOD GORGEOUS SAREE</h4>


        </div>
        <div class="col-sm-4">
            <img src="./assets/lav.jpg" width="500px" height="600px">
            <br><h4>ELEGANT LAVENDAR STONE SAREE</h4>

        </div>
        <div class="col-sm-4">
            <img src="./assets/sequin.jpg"  width="500px" height="600px"><br>
            <h4>LIME GREEN SEQUINNED SAREE</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" class="jumbotron text-center" id="heading">
            <h1>HANDWORKED SALWAR KAMEEZ</h1>
        </div>
    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/sha.jpg" width="500px" height="600px"><br>
            <h4>ELEGANTLY DESIGNED SHAHARA SET</h4>


        </div>
        <div class="col-sm-4">
            <img src="./assets/punjabi.jpg" width="500px" height="600px">
            <br><h4>GORGEOUS PUNJABI HANDWROKED SHAHARA SET</h4>

        </div>
        <div class="col-sm-4">
            <img src="./assets/rani.jpg"  width="500px" height="600px"><br>
            <h4>EMBEDDED PEPLUM SHAHARA SET</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" class="jumbotron text-center" id="heading">
            <h1>BRIDAL BLOUSES</h1>
        </div>
    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/b.jpg" width="500px" height="600px"><br>
            <h4>GRANDEUR BRIDAL BLOUSE WITH AARI WORK</h4>


        </div>
        <div class="col-sm-4">
            <img src="./assets/l.jpg" width="500px" height="600px">
            <br><h4>WHITE ELEGANT CHRISTIAN WEDDING BLOUSE</h4>

        </div>
        <div class="col-sm-4">
            <img src="./assets/blo.jpg"  width="500px" height="600px"><br>
            <h4>GORGEOUS BRIDAL HANDWORKED BLOUSE</h4>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" class="jumbotron text-center" id="heading">
            <h1>MY WORKSPACE</h1>
        </div>
    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/W.jpg" width="500px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/O.jpg" width="500px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/R.jpg"  width="500px" height="600px"><br>
            

        </div>
    </div>
</div>
