<div class="container-fluid" id="foot" >
  <div class="row" >
     <div class="col-sm-12">
         
           <h1> <img src="./assets/logo.png" height="120px" width="110px">
           <span id="ti">T</span><span id="it">ANISHA  </span>   <span id="ti">B</span><span id="it">ROWN'S</span><br></h1>
           
          
    </div>
    
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3 id="ic">CONTACT US ON:</h3>
           <h5 id="ih"> <img src="./assets/landline.png" height="50px" widt="50px"> 0431-264604032</h5>
           <h5 id="ih"> <img src="./assets/mail.png" height="50px" widt="50px"> HouseofTanishaBr0wn@gmail.com</h5>
           <h5 id="ih"> <img src="./assets/linkedin.png" height="50px" widt="50px">House Of Tanisha Brown's</h5>
          
           

    </div>
    <div class="col-sm-4">
      <h3 id="ic">FOLLOW US ON :</h3>
           
          <h5 id="ih"> <img src="./assets/facebook.png" height="50px" widt="50px"> TanishaBrowns</h5>
          <h5 id="ih"><img src="./assets/instagram.png" height="50px" width="50px">TaNiShA_Br0wNs</h5>
           <h5 id="ih"><img src="./assets/twitter.png" height="50px" width="50px">TanishaBrownsDesigns</h5>
           
    </div>
    <div class="col-sm-4">
      <h3 id="ic">ADDRESS:</h3><hr>
      <h5 id="ih"> 24,ST Thomas Road,</h5>
      <h5 id="ih">OLD MAHABALIIPURAM ROAD,</h5>
      <H5 id="ih">Chennai-600165</H5>
      <h5 id="ih">TAMIL NADU</h5>

    </div>
  </div>
  <div class="row">
    <div class="jumbotron text-center">
      <h6 id="ih">© Copyrights 2022 House Of Tanisa Brown's All rights reserved.</h6>

    </div>
    
  </div>
</div>
