<div class="container-fluid">  

  <h1>MEDIA PARTNERS</h1>
  <div class="row">
    <div class="col-sm-3">
      <img src="./assets/par1.webp" class="img-l">

    </div>
    <div class="col-sm-3">
      <img src="./assets/par3.png" class="img-l">

    </div>
    <div class="col-sm-3">
      <img src="./assets/par4.jpg" class="img-l">

    </div>
    <div class="col-sm-3">
      <img src="./assets/par2.jpg" class="img-l">

    </div>
  </div><br><br>
  <h1>SOME OF MY AWARDS AND THE RECOGNITION OF MY WORKS IN THE MAGAZINE</h1>
  
  <div class="row">
    <div class="col-sm-4">
      <img src="./assets/ma1.jpg" width="400px" height="600px">
    </div>
    <div class="col-sm-4">
        <img src="./assets/ma4.jpg" width="400px" height="600px">
    </div>
      <div class="col-sm-4">
          <img src="./assets/ma3.avif" width="400px" height="600px">
      </div>
    </div><br>
    <div class="row">
        <div class="col-sm-4">
         <img src="./assets/ma2.jpg" width="400px" height="600px">
        </div>
        <div class="col-sm-4">
          <img src="./assets/ma5.jpg" width="400px" height="600px">
        </div>
        <div class="col-sm-4">
            <img src="./assets/ma8.jpg" width="400px" height="600px">
          </div>
    </div><br>
    <div class="row">
            <div class="col-sm-4">
              <img src="./assets/ma7.jpg" width="400px" height="600px">
            </div>
            <div class="col-sm-4">
              <img src="./assets/ma6.jpg" width="400px" height="600px">
            </div>
            <div class="col-sm-4">
              <img src="./assets/ma9.jpg" width="400px" height="600px">
             </div>
    </div><br>
    <div class="row">
              <div class="col-sm-4">
               <img src="./assets/ma10.jpg" width="400px" height="600px">
              </div>
              <div class="col-sm-4">
                <img src="./assets/ma11.jpg" width="400px" height="600px">
              </div>
              <div class="col-sm-4">
                <img src="./assets/ma12.jpg" width="400px" height="600px">
              </div>
    </div><br>
    <div class="row">
                <div class="col-sm-4">
                  <img src="./assets/ma13.jpg" width="400px" height="600px">
                  </div>
                <div class="col-sm-4">
                 <img src="./assets/ma14.jpg" width="400px" height="600px">
                </div>
                <div class="col-sm-4">
                  <img src="./assets/ma15.jpg" width="400px" height="600px">
                </div>
    </div><br>
    <div class="row">
                      <div class="col-sm-4">
                        <img src="./assets/ma16.webp" width="400px" height="600px">
                        </div>
                        <div class="col-sm-4">
                          <img src="./assets/ma17.jpg" width="400px" height="600px">
                          </div>
                          <div class="col-sm-4">
                            <img src="./assets/ma18.jpg" width="400px" height="600px">
                            </div>
    </div>
</div>                        
