<nav>
    <ul>
           <li>
              <a routerLink="home">HOME</a>
           </li>
           <li>
             <a routerLink="gallery">GALLERY</a>
           </li>
        
            <li>
              <a routerLink="works">WORKS</a>
            </li>
        
            <li>
              <a routerLink="magazine">MAGAZINES</a>
            </li> 
            <li>
                <a routerLink="register">REGISTRATION</a>
            </li>
            
        

        
    </ul>
</nav>
