<div class="jumbotron text-center">
    <div class="row">
        <div class="col-sm-12" id="head">
            <h1>BEAUTIFUL COLLECTION OF PARTY GOWNS</h1>

        </div>

    </div>

</div>
<div class="container-fluid">
    <div class="row" id="body">
        <div class="col-sm-3">
            <img src="./assets/frock.jpg" width="300px" height="550px">

        </div>
        <div class="col-sm-6">
            <h1 id="he">PARTY GOWN ATTIRE</h1>
            <h3>The way you dress is an expression of your personality.A beautiful dress can be as exciting as a poem.<br>

                 The dress must follow the body of a woman, not the body following the shape of the dress.<br><br>I think any woman can be transformed by a beautiful dress and high heels. – Linda Gray

                 The way you dress is really the way you feel, the way you live, what you read, your choices. </h3>

        </div>
        <div class="col-sm-3">
            <img src="./assets/p1.jpg" width="300px" height="550px">

        </div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <h2>LET'S TAKE A LOOK AT FEW OF MY BEST PART GOWN COLLECTIONS</h2>
        </div>

    </div>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/p2.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/p3.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/p4.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/p5.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/p6.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/p7.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/p8.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/p9.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/p10.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div><br>
    <div class="row" id="cont">
        <div class="col-sm-4">
            <img src="./assets/p11.jpg" width="400px" height="600px"><br>
           


        </div>
        <div class="col-sm-4">
            <img src="./assets/p12.jpg" width="400px" height="600px">
            

        </div>
        <div class="col-sm-4">
            <img src="./assets/p13.jpg"  width="400px" height="600px"><br>
            

        </div>
    </div>
</div>
